[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
email-validator = "*"
ujson = "*"
requests = "*"
jinja2 = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.10"
