[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.79.0"
uvicorn = "==0.18.2"
sqlalchemy = {extras = ["asyncio"], version = "==1.4.39"}
alembic = "==1.8.1"
email-validator = "==1.2.1"
ujson = "==5.4.0"
requests = "==2.28.1"
jinja2 = "==3.1.2"
itsdangerous = "==2.1.2"
aiosqlite = "==0.17.0"
types-ujson = "==5.4.0"
sqlmodel = "==0.0.6"
python-multipart = "==0.0.5"
python-jose = {extras = ["cryptography"], version = "==3.3.0"}
passlib = {extras = ["bcrypt"], version = "==1.7.4"}
pytest-asyncio = "==0.19.0"

[dev-packages]
flake8 = "*"
mypy = "*"
coverage = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
